# pyenv dir
py36/

*.retry
*.py[cod]
*.so
*.egg
*.egg-info
*.log
*.pid
#dist
#!vue-init/dist
#build
node_modules/
tmp/
*.txt

site.pkl
test*.py
log/
logs/
__pycache__/
.idea/
!docker-compose.deploy.yaml
migrations
tests/*
!tests/BaseTest.py
!tests/example.py
!tests/__init__.py
config/settings.py

celerybeat-schedule.db

config/client_secrets_mylocal.json
config/client_secrets.json
.DS_Store
